matplotlib
label-studio
opencv-python

# https://github.com/neuropoly/spinalcordtoolbox/issues/2987
h5py~=2.10.0
# numba

# MaskRCNN
numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow==1.15.0
keras==2.0.8
opencv-python
imgaug
IPython[all]